header{
    width: 100vw!important;
    height: 700px;
    background: url('../../img/header.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.ijtimoiy{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:600px) {
    .ijtimoiy{
        display: none;
    }
}

.ijtimoiy_email{
    display: flex;
    height: 100%;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}
.ijtimoiy_email p{
    margin: 0;
}
.ijtimoiy_iconlar{
    display: flex;
    height: 100%;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}
hr{
    margin: 0;
}
.linklar a{
    margin: 0 10px ;
    font-size: 14px!important;
    color: white!important;
}
.uzun{
    width: 130px!important;
}
.asosiy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}