*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.qutilar{
    min-height: 100vh;
    max-height: 100vh;
}
.shariklar{
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sharik{
    width: 20px;
    height: 20px;
    background-color: gold;
    border-radius: 50%;
}
