* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #F5F5F5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1100px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
}

.wrapper h5 {
  color: #0156a7;
  font-weight: 600;
  padding: 15px 20px;
}

.hr_position {
  display: flex;
  justify-content: center;
}

.hr_position hr {
  width: 1050px;
  margin-top: -10px;
  opacity: 0.9px;
  height: 1px;
}
.section_border_main img {
  border: 6px;
}
.section_border_main {
  background-color: #f7f7f7;
  border-radius: 6px;
  width: 250px;
  height: 250px;
  margin: -8px 25px 0px;
}
section {
  display: flex;
}
.section_border_main h6 {
  font-size: 12px;
  color: #005fbe;
  font-weight: 200;
  padding: 0 15px;
  padding-top: 20px;
}